button {
  width: 40px;
  height: 40px;
  z-index: 1;
  background: #e84393;
  transition: all 0.25s;

  &:hover {
    opacity: 0.75;
  }
}

.top {
  border: none;
  display: block;
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.bottom {
  border: none;
  display: block;
  position: fixed;
  bottom: 16px;
  right: 64px;
  background: #000;

  > img {
    transform: rotate(180deg);
  }

  &:hover {
    opacity: 0.75;
  }
}
